* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
}
body {
    background-color: #DDDDDD;
}
.container {
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 800px;
    height:  auto;
    display: flex;
}

.container-main-tittle {
    height: 80px;
    width: 800px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;

}
.container-tittle {
    align-items: center;
    width: 753px;
    height: 80px;
    background-color: black;
    color: white;
    display: inline-flex;
}

.form-control {
    width: 753px;
    Height: 230px;
    margin: 10px;
    padding: 15px;
    flex-direction: column;
    display: flex;
    border: 1px solid black;
}

.form-control-h3 {
    border-radius: 2px;
    width: 700px;
}
.form-control-tittle {
    border-radius: 2px;
    width: 700px;
    padding: 0px 0px 0px 2px;
    border: 1px solid black;
    max-width: 753px;
    padding-left: 3px;

}
.form-control-content {
    width: 700px;
    border: 1px solid black;
    height: 60px;
    max-width: 753px;
    padding-left: 3px;


}

.form-control-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    cursor: pointer;
    width: 111px;
    height: 33px;
    font-weight: 700;
    margin-left: auto;
    margin-right: 20px;

}

.post-tittle header  {
    margin: auto;
    background-color: black;
    color: white;
    width: 753px;
    display: flex;
    height: 25px;
    line-height: 1px solid black;
   
}
.post-tittle header h3 {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: start;
    padding-left: 10px;
    width: 40%;
    color: white;
}
.icons {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    width: 60%;
    cursor: pointer;
    
}
#trash-icon {
    display: block;

}
#change-icon {
    display: block;
    margin-left: 10px;
}


.post-content {
    margin: 0px 0px 5px 0px;
    align-items: left;   
    justify-content: start; 
    height: auto;
    width: 753px;
    max-width: 753px;
    overflow: hidden, scroll;
    overflow-wrap: break-word;
}

.post-content p {
    justify-content: left;
    color: black;
    padding-left: 10px;
    border: 1px solid black;

}


@media (max-width: 690px) {
    .container {
        width: 450px;
        height: auto;
        flex-direction: column;
        overflow-x: hidden;

    }
    .container-main-tittle {
        width: 100%;
        height: 60px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 25px;
    }
  
    
    .form-control {
        width: 400px;
        flex-direction: column;
    }
    .form-control-tittle {
        width: 100%;
        display: flex;
    }
    .form-control-content {
        width: 100%;
    }
    .post-tittle header {
        width: 100%;
    }
    .post-content {
        width: 100%;
    }
    
    .form-control-btn {
        width: 111px;
        height: 33px;
       margin-left: 255px;
    }
    .post {
        width: 400px;
    }
    .post-tittle {
        width: 100%;
    }
    .post .post-tittle header {
        width: 100%;

    }
    .post-content {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .container {
        width: 290px;
        height: auto;
        flex-direction: column;
        overflow-x: hidden;

    }
    .container-main-tittle {
        width: 100%;
        height: auto;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 25px;
    }
  
    
    .form-control {
        width: 280px;
        flex-direction: column;
    }
    .form-control-tittle {
        width: 100%;
        display: flex;
    }
    .form-control-content {
        width: 100%;
    }
    .post-tittle header {
        width: 100%;
    }
    .post-content {
        width: 100%;
    }
    
    .form-control-btn {
        width: 111px;
        height: 33px;
       margin-left: 135px;
    }
    .post {
        width: 280px;
    }
    .post-tittle {
        width: 100%;
    }
    .post .post-tittle header {
        width: 100%;

    }
    .post-content {
        width: 100%;
    }
}

